---
layout: default
title: Home
---
<p style="text-align: center;">
  <span style="font-family: Ubuntu; color: black; font-size: 60px;">Introduction</span>
</p>

<p>
The purpose of this website is to introduce machine learning (ML) in an intuitive and ”weird" way with as little discomfort as possible. The links are self-contained and only basic calculus, linear algebra, probability and statistics are needed (background links will be provided for people who are new or need refreshers). Any other prior knowledge will be introduced as we go along.
</p>

<p>
Artificial intelligence (AI), specifically machine learning, is one of the hottest fields right now, attracting talent from many different crafts. Almost every single executive in industry and academia agree that AI/ML will disrupt <i>every</i> industry and displace more jobs than it creates. Machine learning drives everything we do, from political campaigns to wall street. The time to adapt and learn AI/ML is now!
</p>

<p>
CS229 (Machine Learning) at Stanford is one of most famous classes in the world, attracting a variety of majors, from polysci to economics to physics. However, there is one issue with Stanford. To a newcomer, all the convoluted math can be pretty daunting. And other resources on the web might not introduce the material in an intuitive enough manner.
</p>

<p>
This website finds the sweet spot. It presents everything (math included) in an easy to understand way, with "weird" imagery/analogy.
</p>

<p>
What do I mean by "weird"?
</p>

<p>
Innovation is combining different ideas to perform better than their predecessors, individually. Richard Feynman said that what makes him great is his ability to represent everything he learns in 5 or 6 different ways. Even the way humans learn is by subconsciously relating new knowledge to existing knowledge.
</p>

<p>
Weird imagery is the best kind of imagery. It combines various ideas, ranging from <i>Deliberate Practice</i> to <i>The Method of Loci</i>. Weird analogies force you to truly use your imagination. Your smell. Your sight. Your taste buds. Weird imagery put you in a moment that you won't forget, if done properly. Weird analogies, most importantly, force you to truly understand the material.
<figure>
  <img src="images/Misc/tesla_lamar_feynman.jpg" alt="Feynman. Lamar. Tesla.">
  <figcaption>Richard Feynman. Kendrick Lamar. Nikola Tesla. All 3 have mastered imagery/analogy.</figcaption>
</figure>
</p>

<p>
For instance, if I told you to remember the number 13178458320, could you do it (assuming you have no eidetic memory)? More powerful than mnemonics and rote learning, is to use weird imagery and analogy.
</p>

<p>
Read this next section <i>slowly</i>. Take your time thinking through this scenario. Let's break it down to 131-784-583-20.
</p>

<p>
Imagine you were at <i>your</i> house. You walk through your front door. You smell your house. You hear your Mom acknowledge you.
</p>

<p>
Right when you walk in, you see three <b>HUGE</b> balloons. The balloons are shaped like 1-3-1. They're gold balloons. They're majestically floating over you, as if they were alive. It smells like helium.
<figure><center>
  <img src="images/Misc/one_three_one.png" alt="Balloons.">

</center></figure>
</p>


<p>
  You're surprised as to why there is a 131 balloon by your doorway. You don't recall today being anyone's 131st birthday. So, you walk to your mom in the dining room looking for answers.
</p>

<p>
When you get to the dining room, your questions don't subtract, they multiply. Things just get weirder. When you get there, you don't see your mom. At least not how you expect. You see the 7-year old version of your mom. After your initial shock, you see your 7-year old mom ate (8) waffles shaped like a four-leaf clover.
<figure>
  <img src="images/Misc/green_waffles.jpg" alt="Green Waffles.">
</figure>
</p>

<p>
You’re utterly confused and petrified. You have no idea what's going on. You begin to panic and believe you are hallucinating. So you walk to your room to take a nap, hoping you will wake up and everything will be back to normal.
</p>

<p>
When you get to you room, you feel safe. You see something recognizable. You see you dad, a 58-year old man, sitting on your chair, shooting a 3-pointer on the basketball goal in your room. You feel at home again.
<figure>
  <img src="images/Misc/hoop_office.jpg" alt="Hoop office.">
</figure>
</p>



<p><i>Take your time</i>. Truly internalize these scenarios. You get quicker with practice.
</p>

<p>
Now, just use your regular memory to remember the number 20. This is the end of the sequence.
</p>

<p>
Wait five minutes…
</p>

<p>
Can you walk through that sequence in your head to remember the number? If done <i>correctly</i>, it should be pretty easy. A huge 1-3-1 balloon. Your 7-year old mom ate (8) a 4-leaf clover waffle. Your 58-year old dad shooting a 3-pointer in your room. The number 20. 131-784-583-20. Easy!
</p>

<p>
The analogies have to be weird. Try it over and over. It will be uncomfortable, and you'll feel corny at times, but do it! You'll get quicker and more efficient the more you do it.
</p>

<p>
After a lot of practice, you’ll see patterns and form analogies subconsciously. Forming analogies like this not only help you remember, but force you to understand a new subject more deeply.
</p>

<p>
This is the foundation on which I will explain machine learning.
</p>

<p style="text-align: center;">

  <span style="font-size: 40px;"><a href="http://kseow.com/guides/">Start now!</a></span>
</p>


<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->